.mi_hardskills {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.progress {
    margin: 20px;
}

.hardskills_title {
    margin-left: 10px;
    font-weight: 500;
    font-size: 25px;
}

.progress-bar-purple {
    background-color: rgb(134, 3, 205) !important;
}

.progress-bar-black {
    background-color: rgb(82, 80, 82) !important;
}

.progress-bar-orange {
    background-color: rgb(224, 123, 21) !important;
}

div h4 {
    margin-left: 10px;
}

.images {
    height: 25px;
    width: 25px;
    margin: 5px;

}

.boton {
     border: none;
     background: none;
     margin-left: 20px;
}

 .modal-title {
     text-align: center;
}

