
@media (max-width: 1400px) {

.mi_softskills {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
   
    
}
.progress {
    margin: 20px;
}

.softskills_title {
    margin-left: 10px;
    font-weight: 500;
    font-size: 25px;
}


.images {
    height: 25px;
    width: 25px;
    margin: 5px;

}

 .boton {
     border: none;
     background: none;
     margin-left: 20px;
 }

 .modal-title {
     text-align: center;
 }
 
} 

@media (max-width: 540px) {

.softskills_title {
    margin-left: 10px;
 
    font-size: 15px;
    }
}

