
<button type="button" class="boton" data-bs-toggle="modal" data-bs-target="#softskill"><img class="images"
        id="image_login" loading="lazy" alt="Agregar Softskill" src="./assets/img/vector-add-icon.jpg"
        title="Agregar Softskill" /></button>


<div class="modal fade" id="softskill" data-bs-backdrop="static" data-bs-keyboard="false"tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">


    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modo Edición</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="addskillForm" (ngSubmit)="getSskills()" class="formContact">
                    <div class="mb-3">
                        <label>Habilidad</label>
                        <input type="text" class="form-control" placeholder="Ingrese el titulo" formControlName="titulo" id="titulo" value="titulo" required>
                    </div>

                    <div class="mb-3">
                        <label>Porcentaje</label>
                        <input type="text" class="form-control" placeholder="Ingrese el porcentaje (ej: 90)" formControlName="porcentaje" id="porcentaje" value="porcentaje" required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button *ngIf="true" class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
                      
                    </div>
                </form>
            </div>
        </div>
    </div>