 .images {
     height: 30px;
     width: 30px;

 }

 .boton {
     border: none;
     background: none;
     margin-left: 20px;
 }

 .modal-title {
     text-align: center;
 }
 
 #acercade_info {
     height: 250px;
     text-align: justify;
     margin: auto;

 }