@media (max-width: 1400px) {

    .mi_acercade {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
    }

    .acerca{
        width: 95%;
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
        margin: 30px auto;
    }
    
    div.acerca p {
        margin: 20px 10px;
        text-align: justify;
    }
    
    
   

}

@media (max-width: 540px) {

    /* ACERCA DE */

    .titulo_acerca {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        text-decoration: underline;
    }

    .p_acerca {
        font-size: 18px;
        text-align: justify;
        hyphens: auto;
    }

}

@media (min-width: 541px) and (max-width: 1030px) {

    .titulo_acerca {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        text-decoration: underline;
    }

    .p_acerca {
        font-size: 18px;
        text-align: justify;
        hyphens: auto;
    }


}