<button type="button" class="boton" data-bs-toggle="modal" data-bs-target="#educacionAdd"><img class="images"
        id="image_login" loading="lazy" alt="Agregar Educación" src="./assets/img/vector-add-icon.jpg"
        title="Agregar Educación" /></button>


<div class="modal fade" id="educacionAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modo Edición</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="proyectoForm" (ngSubmit)="getProyecto()" class="formContact">

                    <div class="mb-3" form-group>
                        <label>Imagen</label>
                        <input type="file" class="form-control" (change)="uploadImage($event)">

                        <input type="text" class="form-control" formControlName="imagen" id="imagen" placeholder="Ingrese el vínculo de la imagen" [(ngModel)]="this.link" value="imagen">
                        
                    </div>

                    <div class="mb-3" form-group>
                        <label>Título</label>
                        <input type="text" class="form-control" placeholder="Ingrese el titulo" formControlName="titulo" id="titulo" value="titulo">
                    </div>

                    <div class="mb-3" form-group>
                        <label>Descripción</label>
                        <input type="text" class="form-control" placeholder="Ingrese la descripción" formControlName="descripcion" id="descripcion" value="descripcion">
                    </div>

                    <div class="mb-3" form-group>
                        <label>Sitio Web</label>
                        <input type="text" class="form-control" placeholder="Ingrese el vínculo del sitio web" formControlName="web" id="web" value="web">
                    </div>
                    
                    <div class="mb-3" form-group>
                        <label>GitHub</label>
                        <input type="text" class="form-control" placeholder="Ingrese el vínculo del sitio web" formControlName="github" id="github" value="github">
                    </div>

                    <div class="modal-footer" form-group>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
