<div class="card mb-3" style="width:600px;">
<div class="row g-0">
    <div class="col-md-4">
        <img [src]="proyecto.imagen" class="img-fluid rounded-start image_proyectos" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
        
            <div class="separar">
                <h4 class="card-title" ><u>{{proyecto.titulo}}</u></h4>
                
              
                <div *ngIf="this.login.getUserRole() == 'ADMIN'">
                <app-proyectosedit [proyecto]="proyecto" (update)="updateProyecto()"></app-proyectosedit>
                
                <a><img class="images" alt="Eliminar" src="./assets/img/boton-cerrar.png" title="Eliminar"
                (click)="eliminar(proyecto.id ?? '0')" /></a>
                </div>
            </div>
         <div class="separar1">   
            <div>
            <p class="card-text texto_tarjeta">{{proyecto.descripcion}}</p> 
            </div>
        
            <div class="separar2">
            <a class="sitio_web" [href]="proyecto.web" target="_blank" download="Tkinter App"><img class="image_web" alt="Sitio Web" src="./assets/img/sitio-web1.png" title="Sitio Web" />Sitio Web</a>
            <a [href]="proyecto.github" target="_blank"><img class="image_github" alt="Repositorio Github"
            src="./assets/img/GitHub.png" title="Repositorio Github" /></a>
            </div>
        </div>
        </div>
    </div>
</div>
</div>